
<div id="main-content" class="landing_about">
    <div>
    <center style="padding: 2rem; line-height: 200%;">
        <h2 style="color: gray; font-size: 150%">Free cloud platform for secure neuroscience data analysis.</h2>
    </center>
    <p><br></p>

    <div class="row" style="font-size: 85%;">
        <div class="col-sm-4 col-md-4 headlink">
            <a href="/apps">
                <center>
                    <img src="images/screenshots/apps.png" class="screenshot" />
                    <h3><b>Code</b></h3>
                    <p>Share your analyses by registering a GitHub repository as an <b>App</b>. Apps can be publicly shared and executed on the several cloud computing platforms.</p>
                </center>
            </a>
          </div>
          <div class="col-sm-4 col-md-4 headlink">
            <a href="/docs/user/process/">
                <center>
                    <img src="images/screenshots/datasets.png" class="screenshot" />
                    <h3><b>Data</b></h3>
                    <p>Share your neuroimaging data publicly or privately. Data on brainlife.io is organized as <b>Datatypes</b> to allow interoperability between Apps.</p>
                </center>
            </a>
        </div>
          <div class="col-sm-4 cold-md-4 headlink">
            <a href="/pubs">
                <center>
                    <img src="images/screenshots/resources.png" class="screenshot" />
                    <h3><b>Computing</b></h3>
                    <p>Share your <b>Computing Resources</b> on brainlife.io to accelerate scientific discovery and increase resources utilization.</p>
                </center>
            </a>
        </div>
    </div>
    </div>
</div>

<div class="colorback lightgrayback" style="position: relative; margin-top: 150px;">
    <div class="centerimage" style="width:150px !important; top:-7px !important">
        <img src="/images/logo.svg" width="180px" style="position: absolute; top: -40px; opacity: 0.9; background-color: inherit; border-radius: 50%; padding: 20px;">

    </div>
    <center style="padding: 2rem; line-height: 200%;">
        <h2 style="color: gray; font-size: 150%">How does it work?</h2>
    </center>   
    <br>
    <div class="row">
        <div class="col-6">
            <iframe class="screenshot floatleft"
            width="448" height="252" src="https://www.youtube.com/embed/86CbNUrkd8s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
        </div>
        <div class="col-6" >
            <h3 class="sc-heading"><b><i class="fas fa-shield-alt"></i> Projects</b></h3>
            <p><a href="/projects">Projects</a> allow you to manage data, processing and results. Share Projects privately with collaborators or publicly with the brainlife.io community.</p>
            <p>Brainlife.io maps data files to registered <a href="https://brainlife.io/docs/user/datatypes/">Datatypes</a>, allowing Apps to interoperate.</p>
            <p>Data can be uploaded using a web browser or the <a href="https://brainlife.io/docs/cli/install/">Brainlife CLI</a> for bulk upload compatible with the BIDS standard.</p>    
        </div>

    </div>
   
